---
export interface Props {
  text: string;
}

const { text } = Astro.props satisfies Props;
---

<div class="bg-slate-100 py-4 text-center text-xs text-slate-600 dark:bg-slate-950/95 dark:text-white/40">
  {text}
</div>
